.trabajos-cont, .servicios-cont, .nosotros-cont, .contacto-cont {
  text-align: center;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
.trabajos-cont h1, .servicios-cont h1, .nosotros-cont h1, .contacto-cont h1 {
  color: rgb(6, 113, 200);
  transition: 1s;
}
.trabajos-cont h1:hover, .servicios-cont h1:hover, .nosotros-cont h1:hover, .contacto-cont h1:hover {
  transform: scale(1.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "League Spartan", sans-serif;
}

.header-cont {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-cont .logo-header img {
  width: 60%;
  margin-right: 50%;
}
.header-cont .navbar-nav a {
  color: rgb(6, 113, 200);
  font-size: 1.5rem;
  transition: 1s;
}
.header-cont .navbar-nav a:hover {
  transform: scale(1.1);
  color: rgb(11, 11, 118);
}

@media screen and (max-width: 575px) {
  .header-cont {
    display: block;
  }
}
@media screen and (max-width: 575px) {
  .logo-header img {
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-top: 5%;
  }
}
.trabajos-cont, .servicios-cont, .nosotros-cont, .contacto-cont {
  text-align: center;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
.trabajos-cont h1, .servicios-cont h1, .nosotros-cont h1, .contacto-cont h1 {
  color: rgb(6, 113, 200);
  transition: 1s;
}
.trabajos-cont h1:hover, .servicios-cont h1:hover, .nosotros-cont h1:hover, .contacto-cont h1:hover {
  transform: scale(1.2);
}

/*MAIN INICIO*/
.sumergite-cont {
  background-image: url(/multimedia/imagenes/banner-logo2.png);
  color: #fff;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

@media screen and (max-width: 575px) {
  .sumergite-cont h1, h4 {
    width: 80%;
    margin-left: 10%;
  }
}
.menu-main {
  transition: 1s;
}
.menu-main:hover {
  transform: scale(1.1);
}

.iframe-cont {
  display: flex;
  padding: 3rem 3rem 2rem 2rem;
  gap: 1rem;
  margin-top: 6rem;
  /*MIXIN*/
  justify-content: center;
  background-color: rgb(6, 113, 200);
}
.iframe-cont iframe {
  border-radius: 3%;
}

@media screen and (max-width: 1300px) {
  .iframe-cont {
    display: block;
  }
}
@media screen and (max-width: 1300px) {
  .iframe-cont iframe {
    width: 100%;
    height: 240px;
    margin-top: 4%;
  }
}
/*MAIN CONTACTO*/
.contacto-cont {
  /*EXTEND*/
}
.contacto-cont .accordion-item {
  background-color: rgb(6, 113, 200);
  color: #fff;
}

.iframecontac-cont {
  display: flex;
  padding: 3rem 2rem 3rem 2rem;
  gap: 1rem;
  margin-top: 4rem;
  /*MIXIN*/
  justify-content: center;
  align-content: center;
  background-color: rgb(6, 113, 200);
}
.iframecontac-cont .map-googlec iframe {
  justify-content: center;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .iframecontact-cont {
    flex-direction: column;
  }
}
@media screen and (max-width: 1300px) {
  .iframecontact-cont iframe {
    width: 100%;
    margin-top: 4%;
  }
}
/*MAIN NOSOTROS*/
.nosotros-cont {
  /*EXTEND*/
}

@media screen and (max-width: 991px) {
  .carousel-edit {
    height: auto;
  }
}
/*MAIN SERVICIOS*/
.servicios-cont {
  /*EXTEND*/
}
.servicios-cont .servicios-list {
  list-style: none;
}

@media screen and (max-width: 991px) {
  .carousel-edit {
    height: auto;
  }
}
/*MAIN TRABAJOS*/
.trabajos-cont {
  /*EXTEND*/
}

.trabajosimg-cont {
  display: grid;
  gap: 1rem;
  margin: 3rem;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 3fr 3fr 3fr;
}

.trabajo-img {
  width: 100%;
  height: 100%;
  border-radius: 1%;
  transition: 1s;
}
.trabajo-img:hover {
  transform: scale(1.1);
}

.contacto-cont, .nosotros-cont, .servicios-cont, .trabajos-cont {
  text-align: center;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
.contacto-cont h1, .nosotros-cont h1, .servicios-cont h1, .trabajos-cont h1 {
  color: rgb(6, 113, 200);
  transition: 1s;
}
.contacto-cont h1:hover, .nosotros-cont h1:hover, .servicios-cont h1:hover, .trabajos-cont h1:hover {
  transform: scale(1.2);
}

.footer-cont {
  width: 100%;
  height: 3rem;
  margin-top: 2em;
  margin-bottom: 2rem;
  background-color: #fff;
  color: rgb(6, 113, 200);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer-cont .rrss-cont {
  display: flex;
  width: 33%;
}
.footer-cont .rrss-cont .rrss {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-cont .rrss-cont .rrss li a img {
  width: 3rem;
}
.footer-cont .rrss-cont .rrss li {
  list-style: none;
}
.footer-cont .logo-footer img {
  width: 30%;
}
.footer-cont .derechos {
  font-size: 1.1rem;
  margin-right: 2rem;
}

@media screen and (max-width: 575px) {
  .logo-footer img {
    display: none;
  }
  .derechos {
    display: none;
  }
}
.contacto-cont, .nosotros-cont, .servicios-cont, .trabajos-cont {
  text-align: center;
  margin-top: 4rem;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
}
.contacto-cont h1, .nosotros-cont h1, .servicios-cont h1, .trabajos-cont h1 {
  color: rgb(6, 113, 200);
  transition: 1s;
}
.contacto-cont h1:hover, .nosotros-cont h1:hover, .servicios-cont h1:hover, .trabajos-cont h1:hover {
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
