@import "../base/variables";
@import "../base/extends";

.footer-cont{
    width: 100%;
    height: 3rem;
    margin-top: 2em;
    margin-bottom: 2rem;
    background-color:$colorBlanco;
    color:$colorCeleste;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .rrss-cont{
        display: flex;
        width: 33%;
        .rrss{
            display: flex;
            align-items: center;
            justify-content: center;
            li a img{
                width: 3rem;    
           }
           li {
                list-style: none;
           }  
        }   
    }
    .logo-footer{
         img{
            width: 30%;    
         } 
     }
    .derechos{
        font-size: 1.1rem;
        margin-right: 2rem;
     }
}

@media screen and (max-width:575px) {
    .logo-footer img {
      display: none;
    }
  }