@import "../base/variables";
@import "../base/extends";
@import "../base/mixin";




/*MAIN INICIO*/
 .banner-index img{
    width: 100%;
    height: 15rem;   
}

@media screen and (max-width: 575px) {
    .banner-index img{
       display: none;
    }
 }

 .sumergite-cont{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    text-align: center;
    transition: 1s;
        &:hover{
            transform:scale(1.2);
}
 }

 @media screen and (max-width:575px){
    .sumergite-cont h1, h4{
       width: 80%;
       margin-left: 10%;
    }
    
 }   

 .menu-main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 2.5rem; 
        a{
            transition: 1s;
            &:hover{
                transform: scale(1.1);
            }
        }
            a img{
            width: 90%;
            border-radius: 10%;
            gap: 3rem;
            }
 }
 
 @media screen and (max-width: 575px) {
    .menu-main{
       display: block;
    }
 
    .menu-main a img{
       margin-bottom: 5%;
    } 
 
 }

 .iframe-cont{
   @include container-iframes (flex, 3rem 3rem 2rem 2rem,1rem, 6rem); /*MIXIN*/
    background-color:$colorCeleste;
    iframe{
        border-radius: 3%;
    }

}

@media screen and (max-width: 1300px) {
    .iframe-cont{
       display: block;
    }
}

@media screen and (max-width: 1300px) {
    .iframe-cont iframe{
       width: 100%;
       height: 240px;
       margin-top: 4%;
    }
}



/*MAIN CONTACTO*/
.contacto-cont{
   @extend %encabezados; /*EXTEND*/

    .accordion-item{
       background-color: $colorCeleste;
       color: $colorBlanco;
   }
}

.iframecontac-cont{
   @include container-iframes(flex, 3rem 2rem 3rem 2rem, 1rem, 4rem); /*MIXIN*/
   justify-content: center;
   align-content: center;
   background-color:$colorCeleste;
      .map-googlec iframe{
         justify-content: center;
         width: 100%;
         height: 100%;
   }
   
}

@media screen and (max-width: 1300px) {
   .iframecontact-cont{
      flex-direction: column;
   }
}

@media screen and (max-width: 1300px) {
   .iframecontact-cont iframe{
      width: 100%;
      margin-top: 4%;
   }
}

/*MAIN NOSOTROS*/
.nosotros-cont{
   @extend%encabezados; /*EXTEND*/
  }

  @media screen and (max-width: 991px) {
   .carousel-edit{
      height: auto;

   } 
 }

/*MAIN SERVICIOS*/
.servicios-cont{
   @extend%encabezados; /*EXTEND*/
     .servicios-list{
         list-style: none;
     } 
 }

 @media screen and (max-width: 991px) {
   .carousel-edit{
      height: auto;

   } 
 }

/*MAIN TRABAJOS*/
.trabajos-cont{
   @extend%encabezados; /*EXTEND*/
}

@media screen and (max-width: 991px) {
   .carousel-edit{
      height: auto;

   } 
 }