@import "../base/variables";
@import "../base/extends";
@import "../base/mixin";




/*MAIN INICIO*/


 .sumergite-cont{
   background-image: url(/multimedia/imagenes/banner-logo2.png);
   color: $colorBlanco; 
   width: 100%;
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;
    transition: 1s;
        &:hover{
            transform:scale(1.2);
}
 }

 @media screen and (max-width:575px){
    .sumergite-cont h1, h4{
       width: 80%;
       margin-left: 10%;
    }
    
 }   

 .menu-main{
  transition: 1s;
  &:hover{
   transform: scale(1.1);
   }
 }

 .iframe-cont{
   @include container-iframes (flex, 3rem 3rem 2rem 2rem,1rem, 6rem); /*MIXIN*/
   justify-content: center; 
   background-color:$colorCeleste;
    iframe{
        border-radius: 3%;
    }

}

@media screen and (max-width: 1300px) {
    .iframe-cont{
       display: block;
    }
}

@media screen and (max-width: 1300px) {
    .iframe-cont iframe{
       width: 100%;
       height: 240px;
       margin-top: 4%;
    }
}



/*MAIN CONTACTO*/
.contacto-cont{
   @extend %encabezados; /*EXTEND*/

    .accordion-item{
       background-color: $colorCeleste;
       color: $colorBlanco;
   }
}

.iframecontac-cont{
   @include container-iframes(flex, 3rem 2rem 3rem 2rem, 1rem, 4rem); /*MIXIN*/
   justify-content: center;
   align-content: center;
   background-color:$colorCeleste;
      .map-googlec iframe{
         justify-content: center;
         width: 100%;
         height: 100%;
   }
   
}

@media screen and (max-width: 1300px) {
   .iframecontact-cont{
      flex-direction: column;
   }
}

@media screen and (max-width: 1300px) {
   .iframecontact-cont iframe{
      width: 100%;
      margin-top: 4%;
   }
}

/*MAIN NOSOTROS*/
.nosotros-cont{
   @extend%encabezados; /*EXTEND*/
  }

  @media screen and (max-width: 991px) {
   .carousel-edit{
      height: auto;

   } 
 }

/*MAIN SERVICIOS*/
.servicios-cont{
   @extend%encabezados; /*EXTEND*/
     .servicios-list{
         list-style: none;
     } 
 }

 @media screen and (max-width: 991px) {
   .carousel-edit{
      height: auto;

   } 
 }

/*MAIN TRABAJOS*/
.trabajos-cont{
   @extend%encabezados; /*EXTEND*/
}

@media screen and (max-width: 991px) {
   .carousel-edit{
      height: auto;

   } 
 }

 .trabajosimg-cont{
   display: grid;
   gap:1rem;
   margin:3rem;
   grid-template-columns: 3fr 3fr 3fr;
   grid-template-rows: 3fr 3fr 3fr;
 }


 .trabajo-img{
   width: 100%;
   height: 100%;
   border-radius: 1%;
   transition: 1s;
      &:hover{
      transform: scale(1.1);
   }
 }
